@model RaftEscalator.Pages.Users.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>UserModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserModel.Id" />
            <div class="form-group">
                <label asp-for="UserModel.UserFirstName" class="control-label"></label>
                <input asp-for="UserModel.UserFirstName" class="form-control" />
                <span asp-validation-for="UserModel.UserFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserModel.UserLastName" class="control-label"></label>
                <input asp-for="UserModel.UserLastName" class="form-control" />
                <span asp-validation-for="UserModel.UserLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserModel.UserEmail" class="control-label"></label>
                <input asp-for="UserModel.UserEmail" class="form-control" />
                <span asp-validation-for="UserModel.UserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserModel.UserPhone" class="control-label"></label>
                <input asp-for="UserModel.UserPhone" class="form-control" />
                <span asp-validation-for="UserModel.UserPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserModel.UserPassword" class="control-label"></label>
                <input asp-for="UserModel.UserPassword" class="form-control" />
                <span asp-validation-for="UserModel.UserPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserModel.CreatedDate" class="control-label"></label>
                <input asp-for="UserModel.CreatedDate" class="form-control" />
                <span asp-validation-for="UserModel.CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserModel.LastModifiedDate" class="control-label"></label>
                <input asp-for="UserModel.LastModifiedDate" class="form-control" />
                <span asp-validation-for="UserModel.LastModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
